@model Chatbot.Models.SE.Response

@{
    ViewBag.Title = "Home Page";
}
<div class="row main d-flex justify-content-center mt-5" >
    
    <div class="col-12 col-md-9 main_1">
        <div class="card main_2 border-0">
            <div class="card-header p-0 border-0">
                <form class="" method="post">
                    <div class="input-group">
                        @Html.EditorFor(model=> model.Search ,
                           new {
                               htmlAttributes = new
                               {
                                   @class = "form-control",
                                   @placeholder = "Entrer l'element à rechercher",
                                   @aria_label = "element à rechercher",
                                   @aria_describedby = "basic-addon2"
                               }
                           })

                        <div class="input-group-append">
                            <button type="submit" class="input-group-text btn btn-primary bg-primary text-white" id="basic-addon2"> Rechercher</button>
                        </div>
                    </div>
                </form>
            </div>
            @if (Model!=null && Model.results !=null)
            {
                <div class="card-body mt-0 ">

                    <div class="row">
                        <div class="col-12">
                            @foreach (var item in Model.results)
                            {
                                <p>
                                    @item
                                </p>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>